img {
  width: 150px;
  height: auto;
  float: right;
  margin: 50px;
  /*border: 5px solid red;*/
}
#totinos {
  color: red;
  font-size: 100px;
  font-family: cursive;
}
h1 {
  color: red;
  font-family: cursive;
}
p {
  color: red;
  font-size: 30px;
}
#number, #toppings, button {
  margin-top: 50px;
}
#showOrder, #finalCost {
  display: none;
}

body {
  background-color: #efbe0b;
}
h2 {
  color: red;
}
.jumbotron {
  border: 5px solid red;
  background-color: #ffffff;
}
